ul{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     list-style-type: none;
     /* box-shadow: 0 0 2px black; */
     background-color: black;
     height: 38px;
     
}

ul li a{
     text-decoration: none;
     padding: 14px 16px;
     font-size: 18px;
     color: white;


    
}
li a:hover{
     color: rgb(253, 90, 14);
}
.active{
        color: green;     
}
